*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(back.jpg);
    background-position: center ;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 2%;
    
    align-items: center;
}



.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style : none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(204, 151, 19);
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background: goldenrod;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: honeydew;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box hi{
    font-size: 70px;
    font-weight: 900;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
      ;
    color: honeydew;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: honeydew;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.hero-btn:hover{
    border: 1px solid goldenrod;
    background: goldenrod;
    transition: 1s;
}
nav .fa{
    display: none;
}

.panels{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 40px;
    font-weight: 600;
    color: aliceblue;
}
p{
    font-size: 20px;
    font-weight: normal;
    padding-top: 5px;
    text-transform: capitalize;
    color: aliceblue;
}
@media(max-width: 700px){
    .text-box hi{
        font-size: 50px;
        font-weight: 900;
    }
    .logo{
        flex: 60%;
        width: 80%;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 15px;
    }
         

    .nav-links{
        position: fixed;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
 
   
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 1000px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
@media screen and (max-width: 700px){
    
 
    .slideshow-container {
        flex: 50%;
        max-width: 100%;
        
      
      }
      
      /* Hide the images by default */
      .mySlides {
        display: flex;
      }
}
.subheader{
    min-height: 150vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(back\ 2.jpg);
    background-position: center ;
    background-size: cover;
    position: relative;
}
.headerabout{
    min-height: 100vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(back.jpg);
    background-position: center ;
    background-size: cover;
    position: relative;
}
.aboutdet{
    font-size: medium;
}
.headerevent{
    min-height: 200vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url();
    background-position: center ;
    background-size: cover;
    position: relative;
}
.eventposter{
    width: 60%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    align-content: space-between;
}
.eventdes{
    flex-basis: 48%;
    padding: 30px 2px;
    text-align: left;

}
.headerevent hi{
    font-size: 50px;
    font-weight: bold;
}
.headerabout hi{
    font-size: 50px;
    font-weight: bold;
}
.headercon{
    min-height: 50vh;
    width: 100%;
    background-image: 
    linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url();
    background-position: center ;
    background-size: cover;
    position: relative;
}
.headercon hi{
    font-size: 50px;
    font-weight: bold;
}
.contactus{
    padding-left: 50px;
    padding-top: 30px;
}

.row hi{
   font-size: 30px;
   font-weight: normal;
   color: black;
   text-align: right;
}
.row p{
    color: black;
    text-transform: none;
}
.president hi{
    font-size: 30px;
    font-weight: normal;
    color: black;
    text-align: right;
    padding-top: 50px;
    
}
.con2{
    min-height: 150vh;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.president p{
    color: black;
    text-transform: none;
}
.con2 input, .con2 textarea{
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid black;
}
.sub-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.sub-btn:hover{
    border: 1px solid goldenrod;
    background: goldenrod;
    transition: 1s;
}








